<% if vendor.errors.any? %>
	<%= render 'shared/errors', object: vendor %>
<% end %>
<div class="row">
<%= form_for vendor do |f| %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :contact %>
		<%= f.text_field :contact, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :contact_email %>
		<%= f.text_field :contact_email, class: "form-control" %>
	</div>

	<%= f.fields_for :vendor_certifiers do |ff| %>

		<%= ff.collection_select(:certifier_id, Certifier.all, :id, :organization, include_blank: "Select Certifier") %>

		<%= ff.label :expires_on %>
		<%= ff.date_field :expires_on %>

	<% end %>

	<%= f.submit "#{action} Vendor", class: "btn btn-primary" %>

<% end %>
</div>