<% if item.errors.any? %>
	<%= render 'shared/errors', object: item %>
<% end %>

<div class="row">
<%= form_for item do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>


			<%= f.collection_check_boxes :certification_ids, Certification.all, :id, :name do |b| %>
					<%= b.check_box %>
					<%= b.label  %>
			<% end %>

		<%= f.submit "#{action} Item", class: "btn btn-primary" %>

<% end %>
</div>