<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if !flash.empty? %>
    <div class="flash">
     	<% flash.each do |key, value| %>
     		<%= content_tag(:p, id: key) do %>
          <%= value %>
        <% end %>
     <% end %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
